{% extends "character/base.html" %}
{% block title %}{{character.name}} Abilities{% endblock %}
{% block content %}
<h1>{{character.fullname}}</h1>
<h2>Abilities</h2>
<form method="post">{% csrf_token %}
<table>
    <tr><td colspan="3"></td><td colspan="{{character.xp_source_available|length}}">XP</td></th></tr>
    <tr><th>Ability</th><th>Speciality</th><th>Score</th>
    {% for x in character.xp_source_available %}
    <th>{{x.1}}<br/>[{{x.3}} of {{x.2}}]</th>
    {% endfor %}
    </tr>
    {% for a in character.abilities %}
    <tr><td>{{a.ability}}</td><td>(<i>{{a.speciality}}</i>)</td><td>{{a.score}}</td>
        {% for x in a.xp_by_source_all %}
        <td>
            {% if x.0 != -1 %}
            <input type="number" name="xp_{{x.0}}" value="{{x.2}}" min="0" step="1" width="3" />
            {% else %}
            <input type="number" name="xp_new_{{a.pk}}_{{x.1}}" value="{{x.2}}" min="0" step="1" width="3" />
            {% endif %}
        </td>
        {% endfor %}
    </tr>
    {% endfor %}
    <tr><td colspan="{{character.xp_source_available|length}}"></td><td colspan="3" align="right"><input type="submit" name="Submit" value="Update" /></td></tr>
</table>
</form>
<h3>Add</h3>
<form method="post">{% csrf_token %}
<table>
    <tr>
        <td><select name="ability">
        {% for a in abilities %}
            <option value="{{a.pk}}">{{a.text}}</option>
        {% endfor %}
        </select></td>
        <td>Speciality: <input type="text" name="speciality" maxlength="32" width="32" /></td>
        <td><input type="submit" name="Submit" value="Add" /></td>
    </tr>
</table>
</form>
<h3>Add New</h3>
<form method="post">{% csrf_token %}
<table>
    <tr>
        <td><input type="text" name="ability" maxlength="32" width="32" /></td>
        <td>Speciality: <input type="text" name="speciality" maxlength="32" width="32" /></td>
        <td>Type<select name="abilitytype">
        {% for at in abilitytypes %}
            <option value="{{at.pk}}">{{at.text}}</option>
        {% endfor %}
        </select></td>
        <td><input type="submit" name="Submit" value="Add New" /></td>
    </tr>
</table>
</form>
{% endblock %}