<html>
    <head>
        <title>New Character</title>
    </head>
    <body>
        <h1>New Character</h1>
        <form action="{% url 'new' %}" method="post">
            <input type="hidden" name="create" value="True" />
            {% csrf_token %}
            <table>
                <tr><th>Name</th><td><input name="name" type="text" /></td></tr>
                <tr><th>Full Name</th><td><input name="fullname" type="text" /></td></tr>
                <tr><th>Character Type</th><td>
                    <select name="character_type" id="character_type">
                        <option value="-1">Select Character Type</option>
                    {% for c in character_types.all %}
                        <option value="{{c.id}}">{{c.text}}</option>
                    {% endfor %}
                    </select></td></tr>
                <tr><th>House</th><td>
                    <select name="character_type" id="character_type">
                        <option value="-1">Select House</option>
                    {% for h in houses.all %}
                        <option value="{{h.id}}">{{h.text}}</option>
                    {% endfor %}
                    </select></td></tr>
            </table>
            <input type="submit" value="Create" />
        </form>
    </body>
</html>