<html>
    <head>
        <title>Character: {{character.name}}</title>
    </head>
    <body>
        <h1>{{character.fullname}}</h1>
        {% if character.house %}
            House : {{character.house}}
        {% endif %}
        <h2>Characteristics<sub>[{{character.characteristic_cost}}]</sub></h2>
        <table>
            {% for c in character.characteristics.all %}
            <tr><th>{{c.characteristic}}</th><td>{{c.score}}</td></tr>
            {% endfor %}
        </table>
        <h2>Virtues/Flaws<sub>[{{character.virtue_total}}]</sub></h2>
        <ul>
            {% for v in character.virtues.all %}
            <li>{{v}}</li>
            {% endfor %}
        </ul>
    </body>
</html>